{% extends 'admin/change_form.html' %}
{% load static i18n admin_urls %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript" id="pages-clipboard-init">
    new Clipboard('.copy-btn');
</script>
{% endblock %}


{% block object-tools-items %}
{# Only relvent when django-guardian is installed #}
{% url opts|admin_urlname:'permissions' original.pk|admin_urlquote as history_url %}
<li><a href="{% add_preserved_filters history_url %}" class="permissionslink">{% trans "Object permissions" %}</a></li>
{{ block.super }}
{% endblock %}
